/* Hero Section */
.hero-section {
    background: linear-gradient(135deg, #e3f2fd, #fff);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    height: 100vh; /* Full viewport height */
    text-align: center;
  }
  
  /* Discover Section */
  .discover-section {
    background-color: #f8f9fa;
  }
  
  /* Features Section */
  .features-section h5 {
    font-weight: bold;
    color: #000000;
  }
  
  /* Testimonials Section */
  .testimonials-section p {
    font-size: 1.1rem;
    font-style: italic;
  }
  
  /* Contact Section */
  .contact-section {
    background-color: #e9ecef;
  }

  .hero-title {
    font-size: 2.5rem; /* Adjust font size */
    font-weight: bold;
    color: #0080ff;; /* Text color */
    line-height: 1.5;
    margin-bottom: 1.5rem; /* Space between title and button */
  }
  
  .hero-title span {
    color: #6590ba; /* Highlighted text color */
  }
  
  .hero-button {
    padding: 0.75rem 1.5rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(150, 182, 216); /* Button background color */
    color: #fff; /* Button text color */
    transition: background-color 0.3s ease;
  }
  
  

  .features-section {
    background-color: #f8f9fa;
  }
  
  .features-section h2 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .features-section p {
    color: #555;
  }
  
  .feature-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .feature-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }
  
  .feature-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #017cff;
  }
  
  .feature-card .card-text {
    color: #555;
    font-size: 1rem;
  }
  
  @media (max-width: 768px) {
    .feature-card {
      margin-bottom: 20px;
    }
  }
  